@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drop-down {
  appearance: unset;
}

@media (max-width: 500px) {
  .cards-container {
    padding: 0 1rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .light-mode,
  .dark-mode {
    display: none;
  }
}

@media (max-width: 800px) {
  .details-container {
    flex-direction: column;
  }
}
